button:hover, #Axtarış:hover ,#barsbutton:hover ,#əlaqə:hover{
    background-color: rgb(60, 58, 74);
}

body {
    font-family: Roboto, serif;
    margin: 0;
}

#Axtarış {
    border-radius: 25px;
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
    color: white;
}

.Yuxarı {
    background-color: rgba(4,2,17,0.99);
    padding: 20px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#az {
    border-bottom: 1px;
}

a {
    color: white;
}

.dil {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 9999px;
    padding: 10px;
}

#əlaqə {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    width: 140px;
    height: 40px;
    border-radius: 9999px;

}

#əl {
    -webkit-box-shadow: 0px 0px 33px 8px rgba(104,167,230,1);
-moz-box-shadow: 0px 0px 33px 8px rgba(104,167,230,1);
box-shadow: 0px 0px 33px 8px rgba(104,167,230,1);
background-color: rgba(104,167,230,1);
}

#bars {
    color: white;
    font-size: 20px;
}

#barsbutton {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 40px;
    border-radius: 9999px;
    margin-left: 50px;
}

#axtar-az-en {
    display: flex;
    align-items: center;
}

#Azərbaycanda-kosmik-ekosistemin-inkişafının-aparıcı-qüvvəsi {
    color: white;
    background: url('https://azercosmos.az/_next/static/media/horizon.f5dbd48d.jpg');
    background-size: cover;
    padding-top: 280px;
    height: 1000px;
}

#menu {
    text-decoration: none;
}